@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<StacklaWidgets.Models.StacklaWidget>
<div class='stacklafw'
     data-id='@Model.StacklaId'
     data-filter="7777"
     data-hash='abcdefghijklmn'
     data-ct=''
     data-alias='stackla-developer.stackla.com'
     data-ttl="30">
</div>
<script type='text/javascript'>
    (function (d, id) {
        if (d.getElementById(id)) return;
        var t = d.createElement('script');
        t.type = 'text/javascript';
        t.src = '//assetscdn.stackla.com/media/js/widget/fluid-embed.js';
        t.id = id;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(t);
    }(document, 'stacklafw-js'));
</script>
